In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyspark as ps
import scipy.stats as stats
from uszipcode import SearchEngine


plt.style.use('ggplot')

In [34]:
def get_zip_income():    
    search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database
    zipcode = search.by_zipcode("10001")
    zipcode
    #SimpleZipcode(zipcode=u'10001', zipcode_type=u'Standard', major_city=u'New York', post_office_city=u'New York, NY', common_city_list=[u'New York'], county=u'New York County', state=u'NY', lat=40.75, lng=-73.99, timezone=u'Eastern', radius_in_miles=0.9090909090909091, area_code_list=[u'718', u'917', u'347', u'646'], population=21102, population_density=33959.0, land_area_in_sqmi=0.62, water_area_in_sqmi=0.0, housing_units=12476, occupied_housing_units=11031, median_home_value=650200, median_household_income=81671, bounds_west=-74.008621, bounds_east=-73.984076, bounds_north=40.759731, bounds_south=40.743451)

    data_by_zip = pd.read_csv('../data/data-by-modzcta.csv')
    zip_lst = data_by_zip['MODIFIED_ZCTA']

    # zipcode.values() # to list
    zipcode_lst = list(zip_lst)
    median_income = []
    keys = ['median_household_income', 'lat', 'lng', 'population', 'population_density']
    for i in zipcode_lst:
        zc = search.by_zipcode(i)
        zd = zc.to_dict()
        zd_lst = [zd.get(key) for key in keys]
        median_income.append(([i]+zd_lst)) # to dict
        

    return pd.DataFrame(median_income, columns=['zip', 'median_household_income', 'lat', 'lng', 'population', 'population_density'])

In [35]:
get_zip_income()

,zip,median_household_income,lat,lng,population,population_density
0,10001,81671,40.750,-73.990,21102,33959.0
1,10002,33218,40.720,-73.990,81410,92573.0
2,10003,92540,40.730,-73.990,56024,97188.0
3,10004,129313,40.700,-74.020,3089,5519.0
4,10005,124670,40.705,-74.005,7135,97048.0
...,...,...,...,...,...,...
172,11691,39409,40.600,-73.760,60035,21185.0
173,11692,43354,40.590,-73.800,18540,18566.0
174,11693,50570,40.610,-73.820,11916,11950.0
175,11694,76944,40.580,-73.850,20408,14944.0
176,11697,87636,40.560,-73.910,4079,1838.0

In [25]:
search = SearchEngine(simple_zipcode=True) # set simple_zipcode=False to use rich info database
zipcode = search.by_zipcode("10001")
keys = ['median_household_income', 'lat', 'lng', 'population', 'population_density']
zd = zipcode.to_dict()
[zd.get(key) for key in keys]

[81671, 40.75, -73.99, 21102, 33959.0]